<h1>Profil</h1></br>

<h4>Handle Slack</h4>
<%= current_user.handleSlack %>
</br>
<h4>Email</h4>
<%= current_user.email %>
</br></br>
<h4>Bio</h4>
<%= current_user.bio %>
</br></br>
<%= link_to "Edit profil", edit_user_registration_path %>
